<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http auto-config="true">
		<intercept-url pattern="/getList**" access="ROLE_USER, ROLE_ADMIN" />
		<intercept-url pattern="/registerEvent**" access="ROLE_ADMIN" />
		<intercept-url pattern="/eventDetails**" access="ROLE_USER, ROLE_ADMIN" />
		
		<form-login 
		    login-page="/login" 
		    default-target-url="/getList" 
			authentication-failure-url="/login?error" 
			username-parameter="username"
			password-parameter="password" />
		<logout logout-success-url="/login?logout"  />
		<!-- enable csrf protection -->
		<csrf/>
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
		  	users-by-username-query=
		    	"select username, password, enabled from User where username=?"
		  	authorities-by-username-query=
		    	"select username, role from User where username =?" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>